* {
    margin: 0;
    padding: 0;
}

.text {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
    letter-spacing: 0.05em;
    opacity: 0.6;
    font-weight: 400;
}

body {
    font-family: 'Roboto', sans-serif;
}


/* TOP */
.top {
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
    height: 768px;
}

.block {
    max-width: 1140px;
    margin: 0 auto;

}

.block_top {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-top: 42px;
}

.top-info {
    padding-top: 115px;

    flex-grow: 1;
    background-image: url(../Img/illustration.png);
    background-repeat: no-repeat;
    background-position: right center;
}

.h-info {
    width: 510px;
    font-size: 64px;
    font-weight: 300;
    line-height: 74px;
    letter-spacing: 0.04em;

    color: #1F3F68;
    margin-bottom: 32px;
}

.text-info {
    width: 425px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    letter-spacing: 0.05em;

    color: #1F3F68;

    opacity: 0.6;
}

.top_button {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    text-align: center;
    letter-spacing: 0.04em;

    color: #FFFFFF;

    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    display: inline-block;
    margin-top: 71px;
    text-decoration: none;
    border: none;
}
.top_button:hover {
    background-color: #77b7f0;
}

/* WHAT WE DO */
.what_we_do {
    padding-top: 64px;
}

.heading {

    font-size: 36px;
    text-align: center;
    font-weight: 300;

    line-height: 46px;


    letter-spacing: 0.05em;
}

.card_box {
    margin-bottom: 64px;
    display: flex;
    margin-top: 64px;
    justify-content: space-between;
}

.card {
    width: 359px;
    padding: 44px 32px;
    box-sizing: border-box;
    background: #FFFFFF;

    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
}

.card-png {
    align-self: center;
    padding-bottom: 51px;
}

.heading_mini {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    letter-spacing: 0.05em;
    margin-bottom: 14px;

}

.card_link {
    display: inline-block;
    padding-top: 44px;
    text-decoration: none;

}


/* PROJECT */

.project {}


.text_t {
    margin: 32px auto 64px;
    text-align: center;
    color: #222222;
    opacity: 1;
    width: 75%;
}

.text-photo {
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    color: #FFFFFF;
    opacity: 1;
    position: absolute;
    top: 64px;
    right: 64px;
}

.photo_1 {
    position: relative;
}

.project_box {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
}

.photo {
    position: relative;
    flex-grow: 1;
}

.photo_item {
    margin-right: 32px;
}

.item-project {
    width: 100%;

}

.item {}

.text-project {
    position: absolute;
    top: 32px;
    left: 32px;
    opacity: 1;
    font-size: 28px;
    line-height: 46px;
    color: #FFFFFF;

}
















/* FOOTER */
.footer {
    background: #316099;
    box-sizing: border-box;
}

.text_footer {
    font-weight: 400;
    font-size: 36px;
    line-height: 46px;

    letter-spacing: 0.05em;
    color: #FFFFFF;

}